<form (ngSubmit)="createNewHomework()">
  <label for="title">Title:</label>
  <input
    type="text"
    id="title"
    name="title"
    [(ngModel)]="homework.title"
    required
  />
  <br />

  <label for="status">Status:</label>
  <input
    type="text"
    id="status"
    name="status"
    [(ngModel)]="homework.status"
    required
  />
  <br />

  <label for="priority">Priority:</label>
  <input
    type="text"
    id="priority"
    name="priority"
    [(ngModel)]="homework.priority"
    required
  />
  <br />

  <label for="due-date">Due Date:</label>
  <input
    type="text"
    id="dueDate"
    name="dueDate"
    [(ngModel)]="homework.dueDate"
    required
  />
  <br />

  <label for="details">Details:</label>
  <textarea
    id="details"
    name="details"
    rows="4"
    [(ngModel)]="homework.details"
    required
  ></textarea>
  <br />

  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Add Homework
  </button>
</form>
