<div class="md:flex w-2/3 mx-auto pt-10">
  <div>
    <h3 class="text-2xl pb-5 w-1/3">Homework</h3>
    <ul
      class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0"
    >
      <li
        *ngFor="let homework of homeworks"
        [ngClass]="{
          'text-white bg-blue-700': isActive(homework._id),
          'text-black bg-white': !isActive(homework._id)
        }"
      >
        <a
          [routerLink]="['/homeworks', homework._id]"
          class="inline-flex items-center px-4 py-3 rounded-lg"
          aria-current="page"
        >
          <p>{{ homework.title }}</p>
        </a>
      </li>
      <button
        (click)="showNewHomework()"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 me-4 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Create New Homework
      </button>
    </ul>
  </div>

  <div class="px-5 w-2/3 bg-gray-50 dark:text-gray-400 rounded-lg w-full">
    <div><h3 class="text-2xl pb-5">Description</h3></div>
    <div><app-description></app-description></div>
  </div>
</div>
