<h1>Homeworks</h1>
<div class="md:flex">
  <div>
    <ul
      class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0"
    >
      <li *ngFor="let homework of homeworks">
        <a
          [routerLink]="['/homeworks', homework._id]"
          class="inline-flex items-center px-4 py-3 rounded-lg"
          [ngClass]="{
            'text-white bg-blue-700': isActive(homework._id),
            'text-black bg-white': !isActive(homework._id)
          }"
          aria-current="page"
        >
          <p>{{ homework.title }}</p>
        </a>
      </li>
      <button
        (click)="showNewHomework()"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 me-4 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Create New Homework
      </button>
    </ul>
  </div>
  <div
    class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full"
  >
    <app-description></app-description>
  </div>
</div>
